{% extends 'base.html' %}

{% block main %}
  <h2>{{meetup.title}}</h2>

  <section>
    <h4>Participants</h4>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <tbody>
        {% for user in users %}
          <tr>
            <td>
              <div class="user">
                <div class="user__img"></div>
                <span class="user__name">{{user.email}}</span>
              </div>
            </td>
          </tr>
        {% endfor %}
        {% if users|length < meetup.count %}
          <tr>
            <td class="user--not-added">
              <div class="user">
                <div class="user__img"></div>
                <span class="user__name">Waiting for other users</span>
              </div>
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </section>

  {% if current_user != meetup.creator %}
    <section>
      <h4>Enter Address</h4>
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3">Address...</label>
        </div>
      </form>
    </section>

    <section>
      <h4>What are you in the mood for?</h4>
      <form action="#">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
        <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
        <span class="mdl-checkbox__label">Drinks</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
        <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Dinner</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
        <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Movie</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
        <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
        <span class="mdl-checkbox__label">Coffee</span>
        </label>
      </form>
    </section>
  {% endif %}

  <section>
    <h2>Map</h2>
    <div id="map"></div>


    <div class="demo-card-container">
      {% for item in range(6) %}
      <div class="demo-card-square mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <h2 class="mdl-card__title-text"></h2>
        </div>
        <div class="mdl-card__supporting-text">
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>


</div>



{% endblock %}

